@app-min-width: 1366px;
@app-layout-header-height: 64px;
@app-layout-footer-height: 0px;
@app-content-header-height: 48px;
@app-content-footer-height: 0px;
@app-content-border-width: 16px; 
@app-content-sider-width: 200px;
@app-content-sider-width-min: 80px;
@app-content-sider-trigger-height: 48px;
@app-content-padding: 12px 16px;
@app-layout-zindex: @global-layer-nav + 1;
@app-content-zindex: @global-layer-overlay;
@app-theme-color: white;  //主题色
@app-background-color: #F5F5F5;  // 背景底色
@app-content-background-color: white;

.app-root-scroll {
  .__rail-is-vertical, .__rail-is-horizontal{
    z-index: @app-layout-zindex + 3!important;
    .__bar-is-vertical, .__bar-is-horizontal {
      background: fade(@primary-color, 66%)!important;
      &:hover {
        background: @primary-color!important;
      }
    }
  }
  .app-root-loading {
    transform: translate(-50%, -50%) translate(50vw, 50vh);
  }
}
.app-layout {
  min-width: @app-min-width;
  & > .app-layout-header {
    position: fixed;
    z-index: @app-layout-zindex + 3;
    top: 0;
    left: 0;
    right: 0;
    height: @app-layout-header-height;
    padding: 0;
    box-shadow: @box-shadow-h;
    background: @app-theme-color;
    & + .app-layout-content {
      margin-top: @app-layout-header-height;
      .app-content-sider {
        top: @app-layout-header-height;
      }
      .app-content-warpper {
        .app-content-spiner {
          min-height: calc(100vh - @app-layout-header-height -  @app-layout-footer-height - @app-content-footer-height - 2*@app-content-border-width);
        }
      }
      .app-content-header {
        top: @app-layout-header-height;
        & + .app-content-warpper .app-content-spiner {
          min-height: calc(100vh - @app-layout-header-height - @app-content-header-height -  @app-layout-footer-height - @app-content-footer-height - 2*@app-content-border-width);
        }
        &.app-content-tab .app-tabs .ant-tabs-content {
          min-height: calc(100vh - @app-layout-header-height -  @app-content-header-height - @app-layout-footer-height - @app-content-footer-height);
          .app-content-spiner {
            width: 100%;
            min-height: calc(100vh - @app-layout-header-height -  @app-content-header-height - @app-layout-footer-height - @app-content-footer-height - 2*@app-content-border-width);
            & > .ant-spin-dot-spin {
              position: absolute;
              top: 50vh;
            }
            .content-child-view {
              min-height: calc(100vh - @app-layout-header-height -  @app-content-header-height - @app-layout-footer-height - @app-content-footer-height - 2*@app-content-border-width);
            }
          }
        }
      }
    }
  }
  .app-layout-content {
    background: @app-background-color;
    margin-bottom: @app-layout-footer-height;
    .app-content-sider {
      position: fixed;
      z-index: @app-layout-zindex + 2;
      top: 0;
      left: 0;
      bottom: @app-layout-footer-height;
      padding: 0;
      box-shadow: @box-shadow-v;
      & .ant-menu.ant-menu-inline, 
      & .ant-menu.ant-menu-inline-collapsed {
        border-right: none;
      }
      & ~ .app-content-header {
        left: @app-content-sider-width;
        &.app-content-tab .app-tabs .ant-tabs-bar {
          width: calc(100% - @app-content-sider-width);
        }
      }
      & ~ .app-content-warpper {
        margin-left: @app-content-sider-width;
        .app-content-spiner {
          width: calc(100vw - @app-content-sider-width - 2*@app-content-border-width);
        }
      }
      & ~ .app-content-footer {
        left: @app-content-sider-width;
      }
      .ant-layout-sider-trigger {
        z-index: @app-layout-zindex + 2;
        height: @app-content-sider-trigger-height;
        bottom: @app-layout-footer-height;
        &:hover {
          background: fade(@app-background-color, 60%);
        }
      }
      .ant-layout-sider-children {
        .ant-affix {
          position: relative!important;
          top: unset!important;
        }
      }
      .ant-layout-sider-children:not(:last-of-type) {
        &::after {
          content: '';
          display: inline-block;
          padding-bottom: @app-content-sider-trigger-height;
        }
        .ant-menu-root::after {
          height: @app-content-sider-trigger-height;
        }
      }
      &.ant-layout-sider-collapsed {
        & ~ .app-content-header {
          left: @app-content-sider-width-min;
          &.app-content-tab .app-tabs .ant-tabs-bar{
            width: calc(100% - @app-content-sider-width-min);
          }
        }
        & ~ .app-content-warpper {
          margin-left: @app-content-sider-width-min;
          .app-content-spiner {
            width: calc(100vw - @app-content-sider-width-min - 2*@app-content-border-width);
          }
        }
        & ~ .app-content-footer {
          left: @app-content-sider-width-min;
        }
      }
    }
    .app-content-header {
      position: fixed;
      z-index: @app-layout-zindex + 1;
      left: 0;
      top: 0;
      right: 0;
      padding: 0;
      height: @app-content-header-height;
      background: white;
      box-shadow: @box-shadow-h;
      & ~ .app-content-warpper {
        margin-top: @app-content-header-height;
        .app-content-spiner {
          min-height: calc(100vh -  @app-content-header-height - @app-layout-footer-height - @app-content-footer-height - 2*@app-content-border-width);
        }
      }
      &.app-content-tab {
        position: absolute;
        z-index: 0;
        .app-tabs {
          & > .ant-tabs-bar {
            position: fixed;
            background: white;
            z-index: @app-layout-zindex + 1;
            height: @app-content-header-height;
            width: 100%;
            padding-right: 16px;
            // border-bottom: none;
            .ant-tabs-nav,
            .ant-tabs-nav-container,
            .ant-tabs-extra-content {
              height: @app-content-header-height - 1px;
              margin-bottom: 0;
            }
            .ant-tabs-tab, 
            .ant-tabs-extra-content {
              background: #FFFFFF;
              border: none;
              line-height: @app-content-header-height;
            }
            .ant-tabs-extra-content:hover {
              background: fade(@app-background-color, 60%);
            }
            .ant-tabs-ink-bar {
              visibility: visible;
              bottom: 0;
            }
          }
          & > .ant-tabs-content {
            background: @app-background-color;
            min-height: calc(100vh -  @app-content-header-height - @app-layout-footer-height - @app-content-footer-height);
            margin-top: @app-content-header-height;
            padding: @app-content-border-width;
            .app-content-spiner {
              background: @app-content-background-color;
              & .content-child-view {
                box-shadow: @box-shadow-base;
                min-height: calc(100vh -  @app-content-header-height - @app-layout-footer-height - @app-content-footer-height - 2*@app-content-border-width);
                &:not(iframe) {
                  padding: @app-content-padding;
                }
              }
            }
          }
        }
      }
    }
    .app-content-warpper {
      padding: 0;
      margin-top: 0;
      margin-bottom: @app-content-footer-height;
      overflow-x: visible;
      .app-content-spiner {
        position: relative;
        margin: @app-content-border-width;
        background: @app-content-background-color;
        box-shadow: @box-shadow-base;
        min-height: calc(100vh - @app-layout-footer-height - @app-content-footer-height - 2*@app-content-border-width);
        width: calc(100vw - 2*@app-content-border-width);
        & > .ant-spin-dot-spin {
          position: absolute;
          top: calc(50% - 10px);
        }
        .content-child-view {
          &:not(iframe) {
            padding: @app-content-padding;
          }
        }
      }
    }
    .app-content-footer {
      position: fixed;
      z-index: @app-layout-zindex + 1;
      bottom: @app-layout-footer-height;
      right: 0;
      height: @app-content-footer-height;
      padding: 0;
    }
  }
  .app-layout-footer {
    position: fixed;
    z-index: @app-layout-zindex + 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: @app-layout-footer-height;
    padding: 0;
  }

  .app-layout-header .ant-menu {
    border: none;
    &.ant-menu-inline {
      .ant-menu-item, .ant-menu-submenu {
        padding-left: 0;
        padding-right: 0;
        line-height: 60px;
        top: 3px;
      }
    }
    &.ant-menu-horizontal {
      .ant-menu-item, .ant-menu-submenu {
        line-height: @app-layout-header-height;
      }
      &:not(.ant-menu-dark) {
        .ant-menu-item, .ant-menu-submenu {
          line-height: @app-layout-header-height - 4px;
          top: 3px;
        }
      }
    }
  }
  .ant-breadcrumb {
    height: @app-content-header-height;
    padding: 16px 24px;
    span {
      font-size: 16px;
      line-height: 1;
    }
    & > span:last-child {
      color: @primary-color;
    }
  }
  .anchor-menu-wrapper {
    max-height: unset!important;
  }
  .content-child-view-item {
    margin-bottom: @app-content-border-width;
    background: @app-content-background-color;
    min-height: calc(100vh - @app-layout-header-height - @app-layout-footer-height - 2*@app-content-border-width);
  }
  .app-iframe {
    position: absolute;
    display: block;
    margin: 0;
    min-height: calc(100vh - @app-layout-header-height - @app-content-header-height - @app-content-footer-height - @app-layout-footer-height - 2*@app-content-border-width);
  }
}

// 以下是补丁
.ant-menu-inline .ant-menu-item, 
.ant-menu-inline .ant-menu-submenu-title {
  width: calc(100% + 0px);
}

