@primary-color: #0097E0; // 全局主色
@link-color: #0097E0; // 链接色
@success-color: #B7D342; // 成功色
@warning-color: #FABE00; // 警告色
@error-color: #D1291A; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, .85); // 标题色
@text-color: rgba(0, 0, 0, .65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, .45); // 次文本色
@disabled-color: rgba(0, 0, 0, .25); // 失效色
@border-radius-base: 4px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, .15); // 浮层阴影
@box-shadow-h: 0 2px 4px 0 rgba(0, 0, 0, .12);
@box-shadow-v: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);

// 这里定义布局的属性
@app-theme-color: white;  //主题色
@app-background-color: #F5F5F5;  // 背景底色
@app-content-background-color: white;  // 内容底色
@app-layout-header-height: 64px;  // 顶部header的高度
@app-layout-footer-height: 0px;   // 底部footer的高度
@app-content-header-height: 48px; // 内容区域header的高度
@app-content-footer-height: 0px;  // 内容区域footer的高度
@app-content-border-width: 16px;  // 内容区域外部边框大小
@app-content-sider-width: 200px;
@app-content-sider-width-min: 80px;

body{
  line-height: @app-content-header-height;
}

.app-content-sider {
  min-width: @app-content-sider-width!important;
  max-width: @app-content-sider-width!important;
  &.ant-layout-sider-collapsed {
    min-width: @app-content-sider-width-min!important;
    max-width: @app-content-sider-width-min!important;
  }
}
@form-label-fixed-width: 88px;
.col-layout-form.ant-form-horizontal, 
.col-layout-form.ant-form-inline {
  .ant-form-item {
    display: flex;
    margin-bottom: 2px;
    .ant-form-item-label {
      flex: none;
      flex-basis: @form-label-fixed-width;
      label {
        display: inline-block;
        width: @form-label-fixed-width;
        max-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        word-break: break-all;
        line-height: 1;
        margin-top: 5px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: auto;
    }
  }
  .col-layout-form-actions {
    float: right;
    margin: 4px 12px 0;
  }
} 
// 垂直布局表单，修改为紧凑型
.col-layout-form.ant-form-vertical {
  .ant-form-item {
    padding-bottom: 2px;
    .ant-form-item-label {
      padding-bottom: 2px;
    }
    // 时间类型组件长度100%
    .ant-calendar-picker, .ant-time-picker {
      display: block;
    }
  }
  .col-layout-form-actions {
    float: right;
    margin: 23px 12px 0;
  }
}
// 如果是搜索表单，修改上下间距
.col-layout-form.col-layout-search-form.ant-form-vertical {
  .ant-form-item {
    margin-bottom: 8px;
    .ant-form-explain {
      margin-top: -4px;
      margin-bottom: -18px;
    }
  }
}
// 分列表单下的item样式 =========================end===========================

// 设置滚动条样式 ========================begin==========================
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: fade(@primary-color, 66%);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: @primary-color;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.04);
}
// 设置滚动条样式 ========================end==========================

// 设置所有的弹出消息浮层层高 ========================begin==========================
.ant-message {
  z-index: 6010;
}
// 设置所有的弹出消息浮层层高 =========================end===========================

// 设置表格文本省略 =========================begin===========================
.ant-table-wrapper.ellipsis-table{
  // 设置表格内容不换行
  table {
    // 只有定义表格的算法为fixed,th才有效果
    table-layout: fixed;
    word-wrap:break-all;
  }
  th > div, td {
    // 超出长度的文字隐藏
    overflow: hidden;
    // 文字隐藏以后添加省略号
    text-overflow: ellipsis;
    // 强制不换行
    white-space: nowrap;
    // 文字不换行
    word-break: keep-all;
  }
  // 设置单元格内填充
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 12px;
  }
}
// 设置表格文本省略 =========================end===========================