{
  "presets": [
    [
      "@vue/app",
      {
        /* Disabled due to clash between core-js versions in Storybook / Vue CLI */
        // "useBuiltIns": false,
        /* Disabled due to clash with Storybook MDX */
        "jsx": false,
        "configureJSX": true,
        "babelOptions": {},
        "sourceLoaderOptions": null
      }
    ],
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "ant-design-vue", "libraryDirectory": "es", "style": true
      }
    ]
  ]
}